.home{
    max-width: 1500px;
    margin-left: 85px;
    margin-right: 85px;
}
.home_row{
    
    /* display:grid;
    grid-template-columns: repeat(3, 1fr); */
    justify-content: center;
    margin-bottom: 30px; 
    
    display: flex; 
     z-index: 1;
    margin-left: 5px;
    margin-right: 5px; 
}

.home_image{
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(rgba(0, 0, 0, 0), transparent);
}
